body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* .row {
    color: #fff;
}

.box {
    background-color: #006cfa;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #fff;
}

.box-2 {
    background-color: #00e165;
    text-align: center;
    padding: 10px;
    font-size: 11px;
    border: 1px solid #006cfa;
}